& when (@media-common = true) {
    .checkout-index-index {
        fieldset.fieldset {
            position: relative;
        }

        .remove-all-items {
            background-color: @color-blue-primary;
            bottom: 133px;
            border: none;
            color: @color-white;
            font-size: 1.2em;
            left: 420px;
            padding: 18px;
            position: relative;
        }

        .modal-btn {
            color: @color-white;
        }

        .refuse {
            background-color: @color-red-primary;
        }

        .confirm {
            background-color: @color-red-danger;
        }

        .modal-popup .modal-title {
            border: none;
        }
    }
}
