& when (@media-common = true) {
    .cms-index-index {
        .items-form-container {
            width: 250px;
            label {
                span {
                    color:#2F4F4F;
                }
            }
            .item-input {
                margin-bottom: 20px;
                border-radius: 5px !important;
                border: 1px solid lightblue !important;
            }
            .get-items-btn {
                width:250px;
            }
            .category-form {
                .category-input {
                    width: 20%;
                    margin-bottom: 20px;
                    height: 30px;
                    border: 1px solid @color-light-gray-input;
                    border-radius: 3px;
                }
                .set-category-btn {
                    height: 30px;
                    border: none;
                    margin-top: -4px;
                    color: @color-blue-grey-button;
                }
            }
            .products-slider {
                .slick-list.draggable {
                    margin: 0 auto;
                    max-width: 90%;
                    .slick-track {
                        display: flex !important;
                        align-items: center !important;
                        .slick-slide {
                            img {
                                width:300px
                            }
                        }
                    }

                }
                .slick-arrow {
                    background: lightsteelblue;
                    width: 30px;
                    height: 30px;
                }
                .slick-prev {
                    left: -15px;
                }
                .slick-next {
                    right: 0;
                }
            }

        }
    }
}
